*.class
*.swp
/netbeans/JavaApplication1/nbproject/private/
/netbeans/JavaApplication1/build/
/aplicacoes/radio-relogio/netbeans/nbproject/private/
/aplicacoes/radio-relogio/netbeans/build/
/netbeans/Testes/nbproject/private/
/netbeans/Testes/build/